@keyframes translateSmallBlade {
  0% {
    visibility: hidden;
    top: -27px;
  }
  10% {
    visibility: hidden;
    top: -27px;
  }
  15% {
    visibility: visible;
    top: -7px;
  }
  100% {
    visibility: visible;
    top: -7px;
  }
}

@keyframes translateBigBlade {
  0% {
    visibility: hidden;
    top: -20px;
  }
  4% {
    visibility: hidden;
    top: -20px;
  }
  7% {
    visibility: visible;
    top: 0;
  }
  100% {
    visibility: visible;
    top: 0;
  }
}

// footprints animation
@keyframes footprint-1 {
  0% {
    visibility: hidden;
  }
  5% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes footprint-2 {
  0% {
    visibility: hidden;
  }
  10% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes footprint-2 {
  0% {
    visibility: hidden;
  }
  15% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes footprint-3 {
  0% {
    visibility: hidden;
  }
  20% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes footprint-4 {
  0% {
    visibility: hidden;
  }
  25% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes footprint-5 {
  0% {
    visibility: hidden;
  }
  30% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes footprint-6 {
  0% {
    visibility: hidden;
  }
  35% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes footprint-7 {
  0% {
    visibility: hidden;
  }
  40% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes footprint-8 {
  0% {
    visibility: hidden;
  }
  45% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes footprint-9 {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes footprint-10 {
  0% {
    visibility: hidden;
  }
  55% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
