@keyframes translateSmallBlade {
  0% {
    visibility: hidden;
    top: -27px;
  }
  10% {
    visibility: hidden;
    top: -27px;
  }
  15% {
    visibility: visible;
    top: -7px;
  }
  100% {
    visibility: visible;
    top: -7px;
  }
}

@keyframes translateBigBlade {
  0% {
    visibility: hidden;
    top: -20px;
  }
  4% {
    visibility: hidden;
    top: -20px;
  }
  7% {
    visibility: visible;
    top: 0;
  }
  100% {
    visibility: visible;
    top: 0;
  }
}

// footprints animation
@keyframes footprint-1 {
  0% {
    visibility: hidden;
  }
  6% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes footprint-2 {
  0% {
    visibility: hidden;
  }
  9% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes footprint-3 {
  0% {
    visibility: hidden;
  }
  12% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes footprint-4 {
  0% {
    visibility: hidden;
  }
  15% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes footprint-5 {
  0% {
    visibility: hidden;
  }
  18% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes footprint-6 {
  0% {
    visibility: hidden;
  }
  21% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes footprint-7 {
  0% {
    visibility: hidden;
  }
  24% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes footprint-8 {
  0% {
    visibility: hidden;
  }
  27% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes footprint-9 {
  0% {
    visibility: hidden;
  }
  30% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes footprint-10 {
  0% {
    visibility: hidden;
  }
  33% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes footprint-11 {
  0% {
    visibility: hidden;
  }
  36% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes footprint-12 {
  0% {
    visibility: hidden;
  }
  39% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes footprint-13 {
  0% {
    visibility: hidden;
  }
  42% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes footprint-14 {
  0% {
    visibility: hidden;
  }
  45% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes footprint-15 {
  0% {
    visibility: hidden;
  }
  48% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes footprint-16 {
  0% {
    visibility: hidden;
  }
  51% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes footprint-17 {
  0% {
    visibility: hidden;
  }
  54% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes footprint-18 {
  0% {
    visibility: hidden;
  }
  57% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes footprint-19 {
  0% {
    visibility: hidden;
  }
  60% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes footprint-20 {
  0% {
    visibility: hidden;
  }
  63% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
