@keyframes translateSmallBlade {
  0% {
    visibility: hidden;
    top: -27px;
  }
  10% {
    visibility: hidden;
    top: -27px;
  }
  15% {
    visibility: visible;
    top: -7px;
  }
  100% {
    visibility: visible;
    top: -7px;
  }
}

@keyframes translateBigBlade {
  0% {
    visibility: hidden;
    top: -20px;
  }
  4% {
    visibility: hidden;
    top: -20px;
  }
  7% {
    visibility: visible;
    top: 0;
  }
  100% {
    visibility: visible;
    top: 0;
  }
}
