/*
 * lay-out
 */

body, html {
  scroll-behavior: smooth;
}

.wrapper {
  padding: 0 34px;
  max-width: 1450px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.section {
  width: 100%;
  position: relative;
}

.flex-container {
  display: flex;
  width: 100%;
  position: relative;
}

.grid {
  padding: 135px 0 100px;
  text-align: center;
  &__item {
    max-width: 450px;
    margin: 0 auto;
  }
}

.row {
  display: flex;
  margin-bottom: 110px;
}

.col {
  padding: 0 50px;
  width: 100%;
}

.col--no-padding {
  padding: 0;
}

.flex-container--center-vertically {
  align-items: center;
}

.flex-container--justify-center {
  justify-content: center;
}

.wrapper--full-height, .section--full-height, .flex-container--full-height {
  height: 100%;
}

.list--horizontal {
  .list__list-item {
    display: inline-block;
  }
}

// responsive
.open-menu .header {
  .nav__toggle {
    .top {
      transform: rotate(-45deg);
    }
    .middle {
      opacity: 0;
    }
    .bottom {
      transform: rotate(45deg);
    }
  }
  &__nav {
    visibility: visible;
    opacity: 1;
    transition: visibility 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955), opacity 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }
}

/*
 * components
 */

.header {
  padding: 20px 0;
  height: 110px;
  background: $nivel-blue;
  position: fixed;
  z-index: 10;
  width: 100%;
  .nav__toggle {
    position: fixed;
    right: 30px;
    top: 42px;
    width: 30px;
    height: 30px;
    display: none;
    z-index: 11;
    cursor: pointer;
    .top, .middle, .bottom {
      display: block;
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 4px;
      margin: -2px 0 0;
      background: $nivel-green;
      transform-origin: 50%;
      transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    }
    .top {
      transform: translate(0, -10px);
    }
    .bottom {
      transform: translate(0, 10px);
    }
  }
  &__logo {
    height: 70px;
    display: inline-block;
  }
  &__nav {
    display: flex;
    align-items: center;
    height: 100%;
    float: right;
    &__item {
      font-family: 'DINNextLTProBlack';
      text-transform: uppercase;
      font-size: 22px;
      color: $nivel-green;
      position: relative;
      &:hover:not(.button) {
        color: #fff;
      }
      &.is-active:not(.button) {
        color: #fff;
        &:before, &:after {
          content: '';
          width: 0;
          height: 0;
          border-style: solid;
          @include translateX;
        }
        &:before {
          border-width: 0 14px 10px 14px;
          border-color: transparent transparent $nivel-green transparent;
          bottom: -14px;
        }
        &:after {
          border-width: 0 7px 9px 7px;
          border-color: transparent transparent #fff transparent;
          bottom: -16px;
        }
      }
    }
    .button {
      background: $nivel-green;
      color: $nivel-blue;
      &:before {
        border-color: transparent transparent $nivel-green transparent;
      }
      &:hover, &.is-active {
        background: #fff;
        &:before {
          border-color: transparent transparent #fff transparent;
        }
      }
    }
  }
  .list__list-item:not(:last-child) {
    margin-right: 39px;
  }
}

// introduction

.introduction {
  background: $nivel-blue;
  &__illustration {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    &__img {
      width: 110%;
      position: absolute;
    }
  }
  &__title {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    &__text {
      color: #fff;
      font-size: 230px;
      &__sub {
        font-size: 150px;
      }
    }
  }
}

.services {
  background: $nivel-green;
  padding: 135px 0 100px;
  text-align: center;
  .title-2, .title-3 {
    color: #fff;
  }
  .body-regular {
    color: $nivel-blue;
  }
  &__item {
    max-width: 450px;
    margin: 0 auto 110px;
    position: relative;
  }
  &__footprints {
    position: absolute;
    bottom: 0;
    right: -130px;
    &__print {
      position: absolute;
      height: 20px;
      transform: rotate(180deg);
      &__print-1 {
        transform: rotate(140deg);
        left: -80px;
        bottom: 40px;
        animation: footprint-1 8s infinite linear;
      }
      &__print-2 {
        transform: rotate(140deg);
        bottom: 40px;
        left: -40px;
        animation: footprint-2 8s infinite linear;
      }
      &__print-3 {
        transform: rotate(150deg);
        left: -40px;
        animation: footprint-3 8s infinite linear;
      }
      &__print-4 {
        transform: rotate(150deg);
        animation: footprint-4 8s infinite linear;
      }
      &__print-5 {
        left: -20px;
        bottom: -85px;
        animation: footprint-5 8s infinite linear;
      }
      &__print-6 {
        left: 20px;
        bottom: -75px;
        animation: footprint-6 8s infinite linear;
      }
      &__print-7 {
        transform: rotate(-150deg);
        left: -40px;
        bottom: -140px;
        animation: footprint-7 8s infinite linear;
      }
      &__print-8 {
        transform: rotate(-150deg);
        bottom: -140px;
        animation: footprint-8 8s infinite linear;
      }
      &__print-9 {
        transform: rotate(-140deg);
        left: -80px;
        bottom: -200px;
        animation: footprint-9 8s infinite linear;
      }
      &__print-10 {
        transform: rotate(-140deg);
        bottom: -200px;
        left: -40px;
        animation: footprint-10 8s infinite linear;
      }
    }
  }
  &__footprints--left {
    right: auto;
    left: -130px;
    transform: scaleX(-1);
  }
}

.strategy {
  background: $nivel-blue;
  padding: 135px 0 100px;
  text-align: center;
  .title-2, .title-3 {
    color: #fff;
  }
  .body-regular {
    color: $nivel-green;
  }
  &__item {
    max-width: 450px;
    margin: 0 auto;
  }
  &__phase {
    position: relative;
    margin-top: 270px;
    &:before {
      content: "";
      height: 200px;
      width: 200px;
      background: url("../img/icons/strategy-icon__entrena.svg");
      @include translateX();
      top: -270px;
    }
  }
  &__phase-2 {
    &:before {
      background: url("../img/icons/strategy-icon__ataca.svg");
    }
  }
  &__phase-3 {
    &:before {
      background: url("../img/icons/strategy-icon__construye.svg");
    }
  }
  &__phase-4 {
    &:before {
      background: url("../img/icons/strategy-icon__explora.svg");
    }
  }
}

.products {
  background: $nivel-gray;
  .title-2, .title-3 {
    color: #fff;
  }
  .body-regular {
    color: $nivel-blue;
  }
}

.footer {
  background: $nivel-blue;
  padding: 40px 0 90px;
  color: #fff;
  &__contact {
    width: 100%;
    &__logo {
      height: 140px;
      margin-bottom: 40px;
    }
    .title-5 {
      margin-bottom: 24px;
    }
  }
  &__widgets {

  }
}

.newsletter {
  float: right;
  &__title {
    text-transform: uppercase;
  }
}

/*
 * styling
 */

.title--green {
  color: $nivel-green;
}

.button {
  padding: 10px 10px 7px 0;
  position: relative;
  cursor: pointer;
  &:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 39px 39px;
    position: absolute;
    left: -39px;
    top: 0;
  }
}

.form-container {
  margin: 15px 0;
}
.input-container {
  float: left;
  &:hover {
    input[type=submit] {
      background: #fff;
    }
    &:before {
      border-color: transparent transparent #fff transparent;
    }
  }
}
input {
  @include title-5;
  text-transform: uppercase;
  height: 45px;
  border: none;
  padding: 0 15px;
}
input[type=text], input[type=email] {
  color: #C3C2C3;
  padding-right: 90px;
}
input[type=submit] {
  background: $nivel-green;
  color: $nivel-blue;
  position: relative;
  cursor: pointer;
}
.input-container--with-triangle {
  position: relative;
  &:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 45px 45px;
    position: absolute;
    left: -45px;
    top: 0;
    border-color: transparent transparent $nivel-green transparent;
  }
}

.anchor {
  &:hover {
    border-bottom: 4px $nivel-green solid;
  }
}

.arrow {
  @include translateX;
  bottom: 50px;
  cursor: pointer;
  &:before, &:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    @include translateX;
  }
  &:before {
    border-width: 30px 40px 0 40px;
    border-color: $nivel-green transparent transparent transparent;
    animation: translateBigBlade 4s infinite ease-out;
  }
  &:after {
    border-width: 30px 22px 0px 22px;
    border-color: #fff transparent transparent  transparent;
    top: -7px;
    animation: translateSmallBlade 4s infinite ease-out;
  }
}

.social-icon {
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $nivel-green;
  position: relative;
  transform: rotate(45deg);
  transform-origin: center;
  margin: 70px 40px 90px 0;
  &:hover {
    background: #fff;
  }
  &__linkedin, &__twitter {
    width: 37px;
    transform: rotate(-45deg);
    transform-origin: center;
  }
  &__linkedin {
    margin: -9px 0 0 -7px;
  }
  &__twitter {
    margin: -4px -4px 0 0;
  }
}
