/*
 * lay-out
 */

body, html {
  scroll-behavior: smooth;
}

.wrapper {
  padding: 0 34px;
  max-width: 1450px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.section {
  width: 100%;
  position: relative;
  &__intro {
    max-width: 600px;
    margin: 0 auto 70px;
    font-family: 'DINNextLTProBold';
    line-height: 34px;
    font-size: 30px;
  }
}

.flex-container {
  display: flex;
  width: 100%;
  position: relative;
}

.grid {
  padding: 135px 0 100px;
  text-align: center;
  &__item {
    margin: 110px auto 0;
    max-width: 450px;
  }
}

.row {
  display: flex;
}

.col {
  padding: 0 50px;
  width: 100%;
}

.col--no-padding {
  padding: 0;
}

.flex-container--center-vertically {
  align-items: center;
}

.flex-container--justify-center {
  justify-content: center;
}

.wrapper--full-height, .section--full-height, .flex-container--full-height {
  height: 100%;
}

.list--horizontal {
  .list__list-item {
    display: inline-block;
  }
}

// responsive
.open-menu .header {
  .nav__toggle {
    .top {
      transform: rotate(-45deg);
    }
    .middle {
      opacity: 0;
    }
    .bottom {
      transform: rotate(45deg);
    }
  }
  &__nav {
    visibility: visible;
    opacity: 1;
    transition: visibility 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955), opacity 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }
}

/*
 * components
 */

.header {
  padding: 20px 0;
  height: 110px;
  background: $nivel-blue;
  position: fixed;
  z-index: 10;
  width: 100%;
  &__inner {
    justify-content: space-between;
  }
  &__right-part {
    display: flex;
    align-items: center;
  }
  .nav__toggle {
    position: fixed;
    right: 30px;
    top: 42px;
    width: 30px;
    height: 30px;
    display: none;
    z-index: 11;
    cursor: pointer;
    .top, .middle, .bottom {
      display: block;
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 4px;
      margin: -2px 0 0;
      background: $nivel-green;
      transform-origin: 50%;
      transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    }
    .top {
      transform: translate(0, -10px);
    }
    .bottom {
      transform: translate(0, 10px);
    }
  }
  &__logo {
    height: 70px;
    display: inline-block;
  }
  &__nav {
    display: flex;
    align-items: center;
    height: 100%;
    float: right;
    &__item {
      font-family: 'DINNextLTProBlack';
      text-transform: uppercase;
      font-size: 22px;
      color: $nivel-green;
      position: relative;
      &:hover:not(.button) {
        color: #fff;
      }
      &.is-active:not(.button) {
        color: #fff;
        &:before, &:after {
          content: '';
          width: 0;
          height: 0;
          border-style: solid;
          @include translateX;
        }
        &:before {
          border-width: 0 14px 10px 14px;
          border-color: transparent transparent $nivel-green transparent;
          bottom: -14px;
        }
        &:after {
          border-width: 0 7px 9px 7px;
          border-color: transparent transparent #fff transparent;
          bottom: -16px;
        }
      }
    }
    .button {
      background: $nivel-green;
      color: $nivel-blue;
      height: 39px;
      &:before {
        border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) $nivel-green rgba(255, 255, 255, 0);
      }
      &:hover, &.is-active {
        background: #fff;
        &:before {
          border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) #fff rgba(255, 255, 255, 0);
        }
      }
    }
    &__language-selector {
      border: 4px solid #05CE7B;
      padding: 6px 6px 3px 6px;
      margin: -3px 0 0 20px;
    }
  }
  .list__list-item:not(:last-child) {
    margin-right: 39px;
  }
}

// introduction

.introduction {
  background: $nivel-blue;
  min-height: 740px;
  padding-top: 0;
  margin-top: 0;
  &__illustration {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    &__img {
      width: 110%;
      padding-bottom: 100%;
      background: url("../img/wolf.png");
      background-position: left center;
      background-size: 200% 100%;
      position: absolute;
      animation: wolf-animation 4s steps(1) infinite;
    }
  }
  &__title {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    &__text {
      color: #fff;
      font-size: 230px;
      &__sub {
        font-size: 150px;
      }
    }
  }
}

// services

.services {
  background: $nivel-green;
  padding: 135px 0 100px;
  text-align: center;
  .title-2 {
    color: $nivel-blue;
  }
  .title-3 {
    color: #fff;
  }
  .body-regular {
    color: $nivel-blue;
  }
  &__item {
    max-width: 450px;
    margin: 0 auto 110px;
    position: relative;
  }
  &__footprints {
    position: absolute;
    bottom: 0;
    right: -130px;
    &__print {
      position: absolute;
      height: 20px;
      transform: rotate(180deg);
      &__print-1 {
        transform: rotate(140deg);
        left: -80px;
        bottom: 40px;
        animation: footprint-1 6s infinite linear;
      }
      &__print-2 {
        transform: rotate(140deg);
        bottom: 40px;
        left: -40px;
        animation: footprint-2 6s infinite linear;
      }
      &__print-3 {
        transform: rotate(150deg);
        left: -40px;
        animation: footprint-3 6s infinite linear;
      }
      &__print-4 {
        transform: rotate(150deg);
        animation: footprint-4 6s infinite linear;
      }
      &__print-5 {
        left: -20px;
        bottom: -85px;
        animation: footprint-5 6s infinite linear;
      }
      &__print-6 {
        left: 20px;
        bottom: -75px;
        animation: footprint-6 6s infinite linear;
      }
      &__print-7 {
        transform: rotate(-150deg);
        left: -40px;
        bottom: -140px;
        animation: footprint-7 6s infinite linear;
      }
      &__print-8 {
        transform: rotate(-150deg);
        bottom: -140px;
        animation: footprint-8 6s infinite linear;
      }
      &__print-9 {
        transform: rotate(-140deg);
        left: -80px;
        bottom: -200px;
        animation: footprint-9 6s infinite linear;
      }
      &__print-10 {
        transform: rotate(-140deg);
        bottom: -200px;
        left: -40px;
        animation: footprint-10 6s infinite linear;
      }
    }
  }
  &__footprints--left {
    right: auto;
    left: -130px;
    transform: scaleX(-1);
    .services {
      &__footprints {
        &__print {
          &__print-1 {
            animation: footprint-11 6s infinite linear;
          }
          &__print-2 {
            animation: footprint-12 6s infinite linear;
          }
          &__print-3 {
            animation: footprint-13 6s infinite linear;
          }
          &__print-4 {
            animation: footprint-14 6s infinite linear;
          }
          &__print-5 {
            animation: footprint-15 6s infinite linear;
          }
          &__print-6 {
            animation: footprint-16 6s infinite linear;
          }
          &__print-7 {
            animation: footprint-17 6s infinite linear;
          }
          &__print-8 {
            animation: footprint-18 6s infinite linear;
          }
          &__print-9 {
            animation: footprint-19 6s infinite linear;
          }
          &__print-10 {
            animation: footprint-20 6s infinite linear;
          }
        }
      }
    }
  }
}

// strategy

.strategy {
  background: $nivel-blue;
  padding: 135px 0 100px;
  text-align: center;
  .title-2, .title-3 {
    color: #fff;
  }
  .body-regular {
    color: $nivel-green;
  }
  &__item {
    max-width: 450px;
    margin: 0 auto;
  }
  &__phase {
    position: relative;
    margin-top: 270px;
    margin-bottom: 110px;
    &:before {
      content: "";
      height: 200px;
      width: 200px;
      background: url("../img/icons/strategy-icon__entrena.svg");
      @include translateX();
      top: -270px;
    }
  }
  &__phase-2 {
    &:before {
      background: url("../img/icons/strategy-icon__ataca.svg");
    }
  }
  &__phase-3 {
    &:before {
      background: url("../img/icons/strategy-icon__construye.svg");
    }
  }
  &__phase-4 {
    &:before {
      background: url("../img/icons/strategy-icon__explora.svg");
    }
  }
}

// services

.products {
  background: $nivel-gray;
  .title-1, .title-2, .products__title {
    color: $nivel-blue;
  }
  .title-1 {
    font-size: 70px;
    margin-bottom: 40px;
  }
  .products__title {
    font-size: 32px;
  }
  .body-regular {
    color: $nivel-blue;
  }
  &__service {
    position: relative;
    margin-top: 300px;
    &:before {
      content: "";
      width: 200px;
      height: 150px;
      background: url("../img/icons/service-icon__web-applications.svg");
      @include translateX();
      top: -220px;
    }
  }
  &__service-2 {
    &:before {
      background: url("../img/icons/service-icon__internal-networks.svg");
      width: 168px;
    }
  }
  &__service-3 {
    &:before {
      background: url("../img/icons/service-icon__mobile-applications.svg");
      width: 94px;
    }
  }
  &__service-4, &__service-12 {
    &:before {
      background: url("../img/icons/service-icon__wireless-networks.svg");
      height: 200px;
      top: -270px;
    }
  }
  &__service-5 {
    &:before {
      background: url("../img/icons/service-icon__analysis.svg");
      width: 153px;
    }
  }
  &__service-6 {
    &:before {
      background: url("../img/icons/service-icon__phishing-test.svg");
      width: 168px;
      height: 229px;
      top: -299px;
    }
  }
  &__service-7 {
    &:before {
      background: url("../img/icons/service-icon__ddos.svg");
      width: 170px;
      height: 239px;
      top: -296px;
    }
  }
  &__service-8 {
    &:before {
      background: url("../img/icons/service-icon__firewall.png");
      background-size: 100%;
      height: 200px;
      top: -270px;
    }
  }
  &__service-9 {
    &:before {
      background: url("../img/icons/service-icon__secure-development.svg");
      background-size: 100%;
      width: 115px;
    }
  }
  &__service-10 {
    &:before {
      background: url("../img/icons/service-icon__log.svg");
      background-size: 100%;
      width: 105px;
    }
  }
  &__service-11 {
    &:before {
      background: url("../img/icons/service-icon__log.svg");
      background-size: 100%;
      width: 105px;
    }
  }
  &__service-13 {
    &:before {
      background: url("../img/icons/service-icon__owasp.svg");
      background-size: 100%;
      width: 108px;
    }
  }
  &__service-14 {
    &:before {
      background: url("../img/icons/service-icon__servers.svg");
      background-size: 100%;
      width: 138px;
    }
  }
  &__service-15 {
    &:before {
      background: url("../img/icons/service-icon__pentesting.svg");
      background-size: 100%;
      width: 193px;
    }
  }
  &__service-16 {
    &:before {
      background: url("../img/icons/service-icon__pentesting-1.svg");
      background-size: 100%;
      width: 198px;
      height: 200px;
      top: -256px;
    }
  }
  &__service-17 {
    &:before {
      background: url("../img/icons/service-icon__consulting.svg");
      background-size: 100%;
      width: 208px;
    }
  }
  &__service-18 {
    &:before {
      background: url("../img/icons/service-icon__social-engineering.svg");
      background-size: 100%;
      width: 176px;
    }
  }
  .button {
    background: $nivel-green;
    color: $nivel-blue;
    font-family: 'DINNextLTProBlack';
    text-transform: uppercase;
    padding: 22px 40px 14px;
    font-size: 40px;
    &:before {
      content: none;
    }
    &:hover {
      background: #fff;
    }
  }
}

// training

.entrenar {
  background: $nivel-green;
  .button {
    background: $nivel-blue;
    color: $nivel-green;
  }
  .section {
    &__intro {
      color: $nivel-blue;
    }
  }
}

// footer

.footer {
  background: $nivel-blue;
  padding: 40px 0 0;
  color: #fff;
  &__contact {
    width: 100%;
    &__logo {
      height: 140px;
      margin-bottom: 40px;
    }
    .title-5 {
      margin-bottom: 24px;
    }
  }
}

.newsletter {
  float: right;
  &__title {
    text-transform: uppercase;
  }
}

.copyright {
  text-align: center;
  margin: 70px 0;
  float: right;
  color: $nivel-green;
  clear: both;
}

/*
 * styling
 */

.title--green {
  color: $nivel-green;
}

.button {
  padding: 10px 10px 7px 0;
  position: relative;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  line-height: 1;
  &:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 39px 39px;
    position: absolute;
    left: -39px;
    top: 0;
  }
}

.form-container {
  margin: 15px 0;
}
.input-container {
  float: left;
  &:hover {
    input[type=submit] {
      background: #fff;
    }
    &:before {
      border-color: transparent transparent #fff transparent;
    }
  }
}
input {
  @include title-5;
  text-transform: uppercase;
  height: 45px;
  border: none;
  padding: 0 15px;
}
input[type=text], input[type=email] {
  color: #C3C2C3;
  padding-right: 90px;
}
input[type=submit] {
  background: $nivel-green;
  color: $nivel-blue;
  position: relative;
  cursor: pointer;
}
.input-container--with-triangle {
  position: relative;
  &:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 45px 45px;
    position: absolute;
    left: -45px;
    top: 0;
    border-color: transparent transparent $nivel-green transparent;
  }
}

.anchor {
  &:hover {
    border-bottom: 4px $nivel-green solid;
  }
}

.arrow {
  @include translateX;
  bottom: 50px;
  cursor: pointer;
  &:before, &:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    @include translateX;
  }
  &:before {
    border-width: 30px 40px 0 40px;
    border-color: $nivel-green transparent transparent transparent;
    animation: translateBigBlade 6s infinite ease-out;
  }
  &:after {
    border-width: 30px 22px 0px 22px;
    border-color: #fff transparent transparent  transparent;
    top: -7px;
    animation: translateSmallBlade 6s infinite ease-out;
  }
}

.social-icon {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $nivel-green;
  position: relative;
  transform: rotate(45deg);
  transform-origin: center;
  margin: 40px 40px 70px 0;
  &:hover {
    background: #fff;
  }
  &__img {
    width: 20px;
    transform: rotate(-45deg);
    transform-origin: center;
  }
  &__linkedin {
    margin: -4px 0 0 -1px;
  }
  &__twitter {
    margin: -3px -2px 0 0;
  }
}

.text-anchor {
  background: $nivel-green;
  color: $nivel-blue;
  padding: 0 7px 0 0;
  line-height: 29px;
  position: relative;
  margin-left: 22px;
  display: inline-block;
  height: 29px;
  &:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 29px 29px;
    position: absolute;
    left: -29px;
    top: 0;
    border-color: transparent transparent $nivel-green transparent;
  }
  &:hover, &.is-active {
    background: #fff;
    &:before {
      border-color: transparent transparent #fff transparent;
    }
  }
}

/*
 * Languages
 */
