@media only screen and (max-width: 1200px) {
  .introduction {
    &__title__text {
      font-size: 170px;
      &__sub {
        font-size: 111px;
      }
    }
  }
}

@media only screen and (min-height: 1200px) and (max-width: 1200px) {
  .flex-container--full-height {
    flex-wrap: wrap;
    align-content: center;
  }
  .introduction {
    &__title {
      justify-content: center;
      text-align: center;
      &__text {
        margin: 140px 0;
      }
    }
    &__illustration {
      &__img {
        width: 50%;
        position: relative;
        margin: 0 auto;
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .header {
    &__nav {
      float: none;
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      margin: 0;
      background: $nivel-blue;
      visibility: hidden;
      opacity: 0;
      z-index: 10;
      box-sizing: border-box;
      &__item {
        &:hover:not(.button), &.is-active:not(.button) {
          &:before, &:after {
            content: none;
          }
        }
      }
      .button {
        padding: 10px 10px 7px 10px;
        &:before {
          content: none;
        }
      }
    }
    .nav__toggle {
      display: block;
    }
  }
  .open-menu .header {
    height: 100%;
    .list--center-on-mobile {
      @include translateY();
      left: 0;
      width: 100%;
      height: auto;
      text-align: center;
      .list__list-item {
        margin: 0 0 20px 0;
        display: block;
      }
    }
  }
}

@media only screen and (max-height: 470px) {
  .open-menu .header .list--center-on-mobile {
    .list__list-item {
      padding: 3px 0;
      font-size: 14px;
      line-height: 40px;
    }
  }
}
