// =============================================
// Mixin - Typography
// =============================================

@mixin title-1 {
  margin: 0;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  font-family: 'AachenStdBold';
  line-height: 0.74;
}

@mixin title-2 {
  margin: 0;
  margin-bottom: 90px;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  font-family: 'AachenStdBold';
  font-size: 145px;
}

@mixin title-3 {
  margin: 0;
  margin-bottom: 20px;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
  font-family: 'DINNextLTProBlack';
  font-size: 60px;
}

@mixin title-4 {
  margin: 0;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
  font-family: 'DINNextLTProBlack';
  font-size: 44px;
}

@mixin title-5 {
  margin: 0;
  text-rendering: optimizeLegibility;
  font-family: 'DINNextLTProBlack';
  font-size: 22px;
}

@mixin title-6 {
  margin: 0;
  text-rendering: optimizeLegibility;
  font-family: 'DINNextLTProBold';
  line-height: 25px;
}
