// =============================================
// Colors
// =============================================

$nivel-blue: #211550;
$nivel-green: #05CE7B;

// =============================================
// Typography
// =============================================

@font-face {
    font-family: 'DINNextLTProBold';
    src: url('../fonts/DINNextLTProBold.eot');
    src: url('../fonts/DINNextLTProBold.eot') format('embedded-opentype'),
         url('../fonts/DINNextLTProBold.woff2') format('woff2'),
         url('../fonts/DINNextLTProBold.woff') format('woff'),
         url('../fonts/DINNextLTProBold.ttf') format('truetype'),
         url('../fonts/DINNextLTProBold.svg#DINNextLTProBold') format('svg');
}

@font-face {
    font-family: 'DINNextLTProBlack';
    src: url('../fonts/DINNextLTProBlack.eot');
    src: url('../fonts/DINNextLTProBlack.eot') format('embedded-opentype'),
         url('../fonts/DINNextLTProBlack.woff2') format('woff2'),
         url('../fonts/DINNextLTProBlack.woff') format('woff'),
         url('../fonts/DINNextLTProBlack.ttf') format('truetype'),
         url('../fonts/DINNextLTProBlack.svg#DINNextLTProBlack') format('svg');
}

@font-face {
    font-family: 'AachenStdBold';
    src: url('../fonts/AachenStdBold.eot');
    src: url('../fonts/AachenStdBold.eot') format('embedded-opentype'),
         url('../fonts/AachenStdBold.woff2') format('woff2'),
         url('../fonts/AachenStdBold.woff') format('woff'),
         url('../fonts/AachenStdBold.ttf') format('truetype'),
         url('../fonts/AachenStdBold.svg#AachenStdBold') format('svg');
}
